{
  "openapi": "3.1.0",
  "info": {
    "title": "HyperRail",
    "description": "HyperRail documentation",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Live server",
      "url": "https://api.hyperrail.io/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/partners/balances": {
      "get": {
        "description": "Returns all balances ",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceListResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/balances/{accountId}": {
      "get": {
        "description": "Returns all balance by account ID ",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all balance by account ID ",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BalanceListResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/balances/currency/{currency}": {
      "get": {
        "description": "Returns all balance by currency ",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account currency.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all balance by account ID ",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BalanceListResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

"/partners/payouts": {
  "post": {
    "summary": "Initiate Bank Withdrawal",
    "description": "Processes a withdrawal request from a specified account to a destination bank account.",
    "tags": ["Withdrawals"],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/WithdrawalRequest"
          },
          "examples": {
                "ngnPayout": {
                  "summary": "Nigerian Naira payout",
                  "value": {
                    "reference": "payout-001",
                    "amount": 10000,
                    "currency": "NGN",
                    "destination": {
                      "accountNumber": "0123456789",
                      "accountName": "Jane Doe",
                      "bankCode": "058",
                      "branchCode": "001"
                    },
                    "narration": "Vendor payout April"
                  }
                },
                "ghsPayout": {
                  "summary": "Ghana Cedis payout",
                  "value": {
                    "reference": "payout-002",
                    "amount": 50000,
                    "currency": "GHS",
                    "destination": {
                      "accountNumber": "0987654321",
                      "accountName": "John Smith",
                      "bankCode": "030100",
                      "branchCode": "001"
                    },
                    "narration": "Salary payment"
                  }
                }
              }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Withdrawal initiated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WithdrawalResponse"
            },
            "example": {
                  "reference": "payout-001",
                  "hyperrailReference": "HPR-TRSF-3a1b2c3d4e5f",
                  "amount": 10000,
                  "fee": 50,
                  "currency": "NGN",
                  "destination": {
                    "accountNumber": "0123456789",
                    "accountName": "Jane Doe",
                    "bankCode": "058",
                    "branchCode": "001",
                    "bankName": "GTBank"
                  },
                  "narration": "Vendor payout April",
                  "status": "processing",
                  "createdAt": "2026-04-24T10:30:00Z",
                  "estimatedCompletionAt": "2026-04-24T10:35:00Z"
                }
          }
        }
      },
      "400": {
        "description": "Bad request - Invalid withdrawal details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient balance",
                    "value": {
                      "code": "INSUFFICIENT_BALANCE",
                      "message": "Account balance (5000 NGN) is less than requested amount (10000 NGN) plus fees (50 NGN)"
                    }
                  },
                  "invalidBankCode": {
                    "summary": "Invalid bank code",
                    "value": {
                      "code": "INVALID_BANK_CODE",
                      "message": "Bank code '999' is not a valid Nigerian bank code"
                    }
                  },
                  "invalidAccountNumber": {
                    "summary": "Invalid account number",
                    "value": {
                      "code": "INVALID_ACCOUNT_NUMBER",
                      "message": "Account number must be 10 digits for Nigerian banks"
                    }
                  },
                  "duplicateReference": {
                    "summary": "Duplicate reference",
                    "value": {
                      "code": "DUPLICATE_REFERENCE",
                      "message": "Payout with reference 'payout-001' already exists"
                    }
                  },
                  "accountNameMismatch": {
                    "summary": "Account name verification failed",
                    "value": {
                      "code": "NAME_MISMATCH",
                      "message": "Provided account name 'Jane Doe' does not match bank records 'Jane D. Doe'"
                    }
                  }
                }

          }
        }
      },
      "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Amount below minimum threshold",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "AMOUNT_TOO_LOW",
                  "message": "Minimum withdrawal amount is 100 NGN"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - Bank service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "SERVICE_UNAVAILABLE"                }
              }
            }
          }
    }
  }
},

    "/partners/marketplace/quote": {
      "post": {
        "summary": "Create Multi-Provider Quote",
        "description": "Create a quote with multiple provider allocation support.",
        "tags": ["Quotes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiProviderQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

     "/partners/marketplace/express/quote": {
      "post": {
        "summary": "Create Express Quote",
        "description": "Create an express quote with automatic best-rate provider selection and immediate execution.",
        "tags": ["Quotes"],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpressQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Express quote created successfully ",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/QuoteResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

    "/partners/marketplace/intent": {
  "post": {
    "summary": "Create Marketplace Intent",
    "description": "Initiates a quote request for a currency exchange, specifying the amount and direction (source or destination).",
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "required": ["sourceCurrency", "destinationCurrency", "amount", "amountDirection", "rate"],
            "properties": {
              "sourceCurrency": {
                "type": "string",
                "example": "NGN",
                "description": "The ISO currency code you are sending."
              },
              "destinationCurrency": {
                "type": "string",
                "example": "USDT",
                "description": "The currency or token you wish to receive."
              },
              "amount": {
                "type": "number",
                "example": 20000,
                "description": "The quantity to be exchanged."
              },
              "rate": {
                "type": "number",
                "example": 20000,
                "description": "The proposed exchange rate."
              },
              "amountDirection": {
                "type": "string",
                "enum": ["source", "destination"],
                "example": "destination",
                "description": "Indicates if the 'amount' field refers to the source or destination currency."
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Quote created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Validation Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

"/partners/wallets/payouts": {
  "post": {
        "summary": "Initiate Wallet Withdrawal",
        "description": "Processes a withdrawal request from a partner wallet to an on-chain blockchain address. Supports USDC, USDT withdrawals on Ethereum, Polygon, and Base networks.",
        "tags": ["Withdrawals"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              },
              "examples": {
                "usdcWithdrawal": {
                  "summary": "USDC withdrawal on Ethereum",
                  "value": {
                    "reference": "wallet-payout-001",
                    "chain": "ethereum",
                    "asset": "usdc",
                    "amount": 100,
                    "toAddress": "0x742d35Cc6634C0532925a3b844Bc9e7595f0beB0"
                  }
                },
                "usdtWithdrawal": {
                  "summary": "USDT withdrawal on Polygon",
                  "value": {
                    "reference": "wallet-payout-002",
                    "chain": "polygon",
                    "asset": "usdt",
                    "amount": 50,
                    "toAddress": "0x742d35Cc6634C0532925a3b844Bc9e7595f0beB0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponse"
                },
                "example": {
                  "reference": "wallet-payout-001",
                  "withdrawalId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "walletId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "chain": "ethereum",
                  "token": "usdc",
                  "amount": 100,
                  "estimatedFee": 2.5,
                  "toAddress": "0x742d35Cc6634C0532925a3b844Bc9e7595f0beB0",
                  "status": "PENDING",
                  "transactionHash": null
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid withdrawal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient balance",
                    "value": {
                      "code": "INSUFFICIENT_BALANCE",
                      "message": "Wallet balance (50 USDC) is less than requested amount (100 USDC) plus fees"
                    }
                  },
                  "invalidAddress": {
                    "summary": "Invalid address",
                    "value": {
                      "code": "INVALID_ADDRESS",
                      "message": "toAddress is not a valid Ethereum address"
                    }
                  },
                  "duplicateReference": {
                    "summary": "Duplicate reference",
                    "value": {
                      "code": "DUPLICATE_REFERENCE",
                      "message": "Withdrawal with reference 'wallet-payout-001' already exists"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "WALLET_NOT_FOUND",
                  "message": "No active wallet found for partner"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Withdrawal below minimum threshold",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "AMOUNT_TOO_LOW",
                  "message": "Minimum withdrawal amount is 10 USDC"
                }
              }
            }
          }
        }
}
},
"/transfers/banks/{currency}": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "TransferBank",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currently we support NGN or GHS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bank list objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bankCode": {
                        "type": "string",
                        "example": "PB-56234"
                      },
                      "bankName": {
                        "type": "string",
                        "example": "Nombank"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/partners/marketplace/quote/{id}/accept": {
  "put": {
    "summary": "Accept Marketplace Quote",
    "description": "Finalize and accept a specific quote by providing the settlement destination details (Bank or Blockchain).",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique quote identifier of the order to be accepted.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }
    ],
    "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "description": "The unique pool account identifier of the order to be accepted."
                  }
                }
              }
            }
          }
        },
    "responses": {
      "200": {
        "description": "Quote accepted successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or expired quote",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},


    "/partners/marketplace/quote/{id}": {
  "get": {
    "summary": "Retrieve Quote Details",
    "description": "Returns the full details of a specific marketplace quote, including allocation results, payment metadata (Bank or Crypto), and chat history timestamps.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier (UUID) of the quote.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Detailed quote information retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid ID provided or unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

   "/partners/marketplace/quote/{id}/complete": {
  "put": {
    "summary": "Retrieve Completed Quote Details",
    "description": "Fetches the final status and payment instructions for a completed marketplace quote session.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier (UUID) of the quote.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Finalized quote details retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Bad Request - Invalid ID or session state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

    "/partners/marketplace/quote/{id}/add": {
  "put": {
    "summary": "Add Pool Allocation to Quote",
    "description": "Updates an existing quote session by adding or modifying the pool allocation details, including amount and direction.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier (UUID) of the quote session.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/AddPoolRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Pool allocation added successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid pool details or quote state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

     "/partners/marketplace/quote/{id}/cancel": {
  "put": {
    "summary": "Cancel Quote Session",
    "description": "Cancels an active or pending quote session. Once cancelled, the quote can no longer be accepted or completed.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier (UUID) of the quote to be cancelled.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Quote successfully cancelled",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            }
          }
        }
      },
      "400": {
        "description": "Bad Request - Invalid ID or quote cannot be cancelled in its current state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

    "/partners/marketplace/quote/{id}/remove/{itemId}": {
    "put": {
      "summary": "Remove Item from Quote",
      "description": "Removes a specific allocation or item from an existing quote session using the quote ID and item ID.",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The unique identifier (UUID) of the quote session.",
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        },
        {
          "name": "itemId",
          "in": "path",
          "required": true,
          "description": "The unique identifier of the item/allocation to remove.",
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Item removed successfully, returns updated quote state",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteResponse"
              }
            }
          }
        },
        "400": {
          "description": "Invalid ID or item not found",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        }
      }
    }
  },
"/partners/rates": {
  "get": {
    "summary": "Get Exchange Rate",
    "description": "Retrieve the current exchange rate between two currencies. Optionally specify a blockchain network.",
    "parameters": [
      {
        "name": "from",
        "in": "query",
        "required": true,
        "description": "The source currency code (e.g., NGN).",
        "schema": {
          "type": "string",
          "example": "NGN"
        }
      },
      {
        "name": "to",
        "in": "query",
        "required": true,
        "description": "The target currency code (e.g., GHS).",
        "schema": {
          "type": "string",
          "example": "GHS"
        }
      },
      {
        "name": "chain",
        "in": "query",
        "required": false,
        "description": "The blockchain network (optional - only for crypto currencies)",
        "schema": {
          "type": "string",
          "example": "ETHEREUM"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully retrieved the exchange rate",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetRateResponse"
            }
          }
        }
      },
      "400": {
        "description": "Missing required parameters or invalid currency/chain",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/partners/marketplace/rates/stream": {
  "get": {
    "summary": "Stream Real-Time Exchange Rates",
    "description": "Subscribe to real-time exchange rate updates via Server-Sent Events (SSE). The connection remains open and pushes rate updates as they occur.",
    "tags": ["Rates", "Streaming"],
    "parameters": [
      {
        "name": "base",
        "in": "query",
        "required": true,
        "description": "The source currency code",
            "schema": {
              "type": "string",
              "example": "NGN"
            }
      },
      {
        "name": "quote",
        "in": "query",
        "required": true,
        "description": "The target currency code (e.g., GHS).",
        "schema": {
          "type": "string",
          "example": "GHS"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully established SSE connection. Rate updates will be pushed continuously.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream with rate updates",
                  "example": "event: rate_update\ndata: {\"from\":\"NGN\",\"to\":\"USDT\",\"rate\":0.0006,\"timestamp\":\"2026-04-14T10:30:00Z\"}\n\nevent: rate_update\ndata: {\"from\":\"NGN\",\"to\":\"USDT\",\"rate\":0.00061,\"timestamp\":\"2026-04-14T10:30:15Z\"}\n\n"
                },
                "examples": {
                  "streamExample": {
                    "summary": "SSE rate updates",
                    "value": "event: rate_update\ndata: {\"from\":\"NGN\",\"to\":\"USDT\",\"rate\":0.0006,\"timestamp\":\"2026-04-14T10:30:00Z\",\"source\":\"CONSENSUS\",\"percentChange24h\":-0.32}\n\nevent: heartbeat\ndata: {\"status\":\"connected\",\"timestamp\":\"2026-04-14T10:31:00Z\"}\n\nevent: rate_update\ndata: {\"from\":\"NGN\",\"to\":\"USDT\",\"rate\":0.00061,\"timestamp\":\"2026-04-14T10:31:05Z\",\"source\":\"CONSENSUS\",\"percentChange24h\":-0.28}\n\n"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Stream content type",
                "schema": {
                  "type": "string",
                  "example": "text/event-stream"
                }
              },
              "Cache-Control": {
                "description": "Caching directive",
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Connection": {
                "description": "Connection type",
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              }
            }
          },
      "400": {
            "description": "Bad request - Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "INVALID_CURRENCY_PAIR",
                  "message": "Invalid currency pair. Supported pairs: NGN/USDT, GHS/USDT, NGN/GHS"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
    }
  }
},
    "/partners/marketplace/listings": {
  "get": {
    "description": "Get marketplace listings for the authenticated client",
    "parameters": [
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Page number (0‑indexed)"
      },
      {
        "name": "size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Page size"
      }
    ],
    "responses": {
      "200": {
        "description": "Returns a paginated list of marketplace listings",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketplaceListing"
                  }
                },
                "pageNumber": {
                  "type": "integer"
                },
                "pageSize": {
                  "type": "integer"
                },
                "totalElements": {
                  "type": "integer"
                },
                "totalPages": {
                  "type": "integer"
                }
              },
              "required": [
                "content",
                "pageNumber",
                "pageSize",
                "totalElements",
                "totalPages"
              ]
            }
          }
        }
      },
      "400": {
        "description": "Bad request or validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

    "/transfers/bulk": {
      "post": {
        "description": "You can use this endpoint to perform bulk bank account transfer to multiple bank accounts.",
        "operationId": "CreateBulkTransfer",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing bulk transfer data. Must be a .csv file."
                  },
                  "category": {
                    "type": "string",
                    "description": "Specify a unique category of your choice for your company to track a transaction for later reconciliation."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Select the currency for the transfer. This is in our supported currency which is currently only NGN and GHS.",
                    "enum": ["NGN", "GHS"]
                  },
                  "narration": {
                    "type": "string",
                    "description": "This is optional information for you to give details about the reason for the transfer"
                  }
                },
                "required": ["file", "category", "currency", "narration"]
              },
              "encoding": {
                "file": {
                  "contentType": "text/csv"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk transfer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid CSV or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "listBulkTransfers",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursements objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/TransferDetailsResponse"
                        }
                      },
                      "pageNumber": { "type": "integer" },
                      "pageSize": { "type": "integer" },
                      "totalElements": { "type": "integer" },
                      "totalPages": { "type": "integer" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/{id}": {
      "get": {
        "description": "Get details of an uploaded bulk disbursement by its id.",
        "operationId": "BulkTransferID",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the specific id used to get the individual transfer details in the uploaded bulk disbursement file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursement details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/categories": {
      "get": {
        "description": "Get details of an uploaded bulk disbursement by the categories you created with.",
        "operationId": "BulkTransferCategories",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursement details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/{id}/transfers": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "listBulkTransfersByID",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the specific id used to get the individual transfer details in the uploaded bulk disbursement file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursements objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransferDetailsResponse"
                      }
                    },
                    "pageNumber": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 10
                    },
                    "totalElements": {
                      "type": "integer",
                      "example": 100
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/validate": {
      "post": {
        "description": "Use this endpoint to confirm your bulk disbursement CSV file has all the necessary details needed and won't fail when uploaded for the bulk transfer transaction.",
        "operationId": "ValidateBulkTransfer",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Upload the file content and must in CSV format.",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              },
              "example": {
                "file": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON array of create bulk disbursement objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "failedRequests": {
                      "type": "array",
                      "default": []
                    },
                    "totalRequests": {
                      "type": "number",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "description": "You can use this endpoint to perform bank account transfer from your main account",
        "operationId": "CreateSingleDisbursement",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "amount": {
                    "type": "integer",
                    "format": "float"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "source": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      }
                    }
                  },
                  "destination": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "bankCode": {
                        "type": "string"
                      },
                      "branchCode": {
                        "type": "string"
                      }
                    }
                  },
                  "narrations": {
                    "type": "string"
                  }
                },
                "required": [
                  "reference",
                  "destination",
                  "source",
                  "amount",
                  "currency",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON array of create single disbursement objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/resolve-account": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "ResolveAccount",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "required": true,
            "description": "This is the account number you want to get/validate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankCode",
            "in": "query",
            "required": true,
            "description": "This is the bank code of the account number on our system.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Select the currency for the payment charge. This is in our supported currency which is currently only NGN. Please note that only NGN accounts works with resolve bank accounts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of resolve transfers objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountName": {
                      "type": "string",
                      "example": "string"
                    },
                    "accountNumber": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/reference/{reference}": {
      "get": {
        "description": "Get details of a particular transfer by its reference id.",
        "operationId": "TransactionReference",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "This is the reference id of the transfer that you made on your account using what's in the 'reference' and not 'spotflowReference.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/banks/{bank-code}/branches": {
      "get": {
        "description": "Retrieves a list of supported branches for transfers in the specified mode and selected currency",
        "operationId": "BranchesBankCode",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "bankCode",
            "in": "query",
            "required": true,
            "description": "This is the bank code of the account number on our system.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bank branches objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bankCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "bankName": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs": {
      "get": {
        "description": "Get trade for exchange",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns exchange trade",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateConfigurationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "This endpoint create a new trade preference for a given currency",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceCurrency": {
                    "type": "string",
                    "example": "NGN"
                  },
                  "destinationCurrency": {
                    "type": "string",
                    "example": "USDT"
                  },
                  "rateConfigurationType": {
                    "type": "string",
                    "enum": ["manual", "percentage", "plus"],
                    "example": "manual",
                    "description": "Type of rate configuration - manual or automatic"
                  },
                  "rate": {
                    "type": "number",
                    "format": "float",
                    "example": 1450.55,
                    "description": "The exchange rate between source and destination currency"
                  },
                  "rateThreshold": {
                    "type": "number",
                    "format": "float",
                    "example": 1200,
                    "description": "The rate threshold for automatic rate adjustments"
                  },
                  "liquidityThreshold": {
                    "type": "number",
                    "format": "float",
                    "example": 50000000,
                    "description": "Maximum liquidity limit before rate adjustment"
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  },
                  "destinationNetwork": {
                    "type": "string",
                    "example": "BASE"
                  }
                },
                "required": [
                  "sourceCurrency",
                  "destinationCurrency",
                  "rateConfigurationType",
                  "rate",
                  "status",
                  "liquidityThreshold",
                  "rateThreshold"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create trade pair configurations ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/{id}": {
      "get": {
        "description": "Get trade for exchange ID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns exchange trade ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/supported/chain": {
      "get": {
        "description": "Get trade for supported chain",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns supported chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/supported/currencies/stables": {
      "get": {
        "description": "Get trade for supported stable currency",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns supported stable currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/supported/currencies/fiat": {
      "get": {
        "description": "Get trade for supported fiat currency",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns supported fiat currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/currency": {
      "get": {
        "description": "Get trade for exchange currency",
        "parameters": [
          {
            "name": "source ",
            "in": "query",
            "required": true,
            "description": "Source Currency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination  ",
            "in": "query",
            "required": true,
            "description": "Destination Currency",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns exchange trade ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-pairs/supported": {
      "get": {
        "description": "Get supported currency",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns supported currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

    "/accounts": {
      "post": {
        "description": "This endpoint is used to create a dynamic account to receive payments.",
        "operationId": "DynamicAccountCreation",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "NGN",
                    "description": "According, to our currently supported currencies, this is in NGN and GHS."
                  },
                  "accountName": {
                    "type": "string",
                    "example": "Quantum Technologies",
                    "description": "Your desired naming for your account."
                  },
                  "amount": {
                    "type": "number",
                    "format": "int32",
                    "description": "Amount should be in the subunit of our supported currency i.e NGN and GHS for now."
                  },
                  "expiresIn": {
                    "type": "number",
                    "format": "int32",
                    "description": "This is optional to add. By default, the time it takes for a virtual account to expire is 30 mins. However, you can customize the time to lesser as you desire."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of dynamic account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "This retrieves and lists all the active dynamic accounts you created.",
        "operationId": "ListDynamicAccount",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of dynamic details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DynamicDetailsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "description": "Get details of your created virtual account by its ID.",
        "operationId": "DynamicAccountID",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the unique ID generated upon creation of your dynamic account in either NGN or GHS.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of dynamic details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-accounts": {
      "get": {
        "description": "This retrieves and lists all the active dynamic accounts you created.",
        "operationId": "ListDynamicAccount",
        "parameters": [
          {
            "name": "x-service-source",
            "in": "header",
            "required": true,
            "description": "Identifies the calling service",
            "schema": {
              "type": "string",
              "default": "HyperRails",
              "example": "HyperRails"
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "required": true,
            "description": "This filters by the account number created for the virtual accounts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of dynamic details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DynamicDetailsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "BalanceListResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "c1fba25a-a36b-479c-b17d-64dbaf3ba32c"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "balance": {
            "type": "number",
            "format": "float",
            "example": 3.0
          },
          "availableBalance": {
            "type": "number",
            "format": "float",
            "example": 3.0
          }
        }
      },
      "NetworkListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "example": "USDT"
            },
            "network": {
              "type": "string",
              "example": "BASE"
            },
            "type": {
              "type": "string",
              "example": "CRYPTO"
            }
          }
        }
      },
      "StringListResponse": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },

      "RateConfigurationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            "description": "The unique identifier of the rate configuration."
          },
          "partnerId": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            "description": "The unique identifier of the partner ID."
          },
          "balanceId": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            "description": "The unique identifier of the balance ID."
          },
          "sourceCurrency": {
            "type": "string",
            "example": "NGN",
            "description": "The source currency for the trade pair"
          },
          "destinationCurrency": {
            "type": "string",
            "example": "USDT",
            "description": "The destination currency for the trade pair"
          },
          "destinationNetwork": {
            "type": "string",
            "example": "BASE",
            "description": "The network for the destination currency"
          },
          "rate": {
            "type": "number",
            "format": "float",
            "example": 1450.55,
            "description": "The exchange rate between source and destination currency"
          },
          "rateThreshold": {
            "type": "number",
            "format": "float",
            "example": 1200,
            "description": "The rate threshold for automatic rate adjustments"
          },
          "liquidityThreshold": {
            "type": "number",
            "format": "float",
            "example": 50000000,
            "description": "Maximum liquidity limit before rate adjustment"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          }
        }
      },
      "DynamicDetailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "c1fba25a-a36b-479c-b17d-64dbaf3ba32c"
          },
          "accountNumber": {
            "type": "string",
            "example": "7706438396"
          },
          "accountName": {
            "type": "string",
            "example": "Quantum Technologies"
          },
          "bankName": {
            "type": "string",
            "example": "Testbank MFB"
          },
          "mode": {
            "type": "string",
            "enum": ["live", "test"],
            "example": "live"
          },
          "lifeCycle": {
            "type": "string",
            "example": "temporary"
          }
        }
      },
      "UpdateDestinationRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "object",
            "properties": {
              "bank": {
                "type": "object",
                "properties": {
                  "accountName": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "accountNumber": {
                    "type": "string",
                    "example": "8037592839"
                  },
                  "bankCode": {
                    "type": "string",
                    "example": "39838"
                  }
                }
              },
              "blockChain": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5"
                  }
                }
              }
            }
          }
        }
      },
      "RateConfigurationListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "partnerId": {
              "type": "string",
              "format": "uuid",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "balanceId": {
              "type": "string",
              "format": "uuid",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            },
            "sourceCurrency": {
              "type": "string",
              "example": "NGN"
            },
            "destinationCurrency": {
              "type": "string",
              "example": "USDT"
            },
            "destinationNetwork": {
              "type": "string",
              "example": "BASE"
            },
            "rate": {
              "type": "number",
              "format": "float",
              "example": 1450.55
            },
            "rateThreshold": {
              "type": "number",
              "format": "float",
              "example": 1200
            },
            "liquidityThreshold": {
              "type": "number",
              "format": "float",
              "example": 50000000
            },
            "status": {
              "type": "string",
              "example": "ACTIVE"
            }
          }
        }
      },
"GetRateResponse": {
  "type": "object",
  "description": "Represents the current exchange rate and consensus metadata between two currencies.",
  "required": [
    "from",
    "to",
    "rate",
    "source",
    "timestamp"
  ],
  "properties": {
    "from": {
      "type": "string",
      "description": "The source currency code.",
      "example": "usdt"
    },
    "to": {
      "type": "string",
      "description": "The target currency code.",
      "example": "NGN"
    },
    "chain": {
      "type": "string",
      "description": "The blockchain network or settlement chain.",
      "example": "ethereum"
    },
    "rate": {
      "type": "number",
      "format": "double",
      "description": "The conversion rate/multiplier.",
      "example": 0.0006
    },
    "source": {
      "type": "string",
      "description": "The mechanism used to determine the rate (e.g., CONSENSUS, ADMIN_OVERRIDE, MARKET_MAKER, SPOT).",
      "example": "CONSENSUS"
    },
    "timestamp": {
      "type": "string",
      "format": "date-time",
      "description": "The UTC timestamp of the rate generation.",
      "example": "2026-04-01T14:13:28.306083501Z"
    }
  }
},

"StreamRateEvent": {
        "type": "object",
        "description": "Individual rate update event in the SSE stream",
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type",
            "enum": ["rate_update", "heartbeat", "error", "connection_closed"],
            "example": "rate_update"
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GetRateResponse"
              },
              {
                "$ref": "#/components/schemas/StreamHeartbeat"
              },
              {
                "$ref": "#/components/schemas/StreamError"
              }
            ]
          }
        }
      },
      "StreamHeartbeat": {
        "type": "object",
        "description": "Heartbeat event to keep connection alive",
        "properties": {
          "status": {
            "type": "string",
            "example": "connected"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-14T10:30:00Z"
          }
        }
      },
      "StreamError": {
        "type": "object",
        "description": "Error event in stream",
        "properties": {
          "error": {
            "type": "string",
            "example": "RATE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "example": "Unable to fetch rate from providers"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-14T10:30:00Z"
          }
        }
      },

      "MarketplaceListing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "qte_123456"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "name:": {
            "type": "string",
            "example": "S-eac7326"
          },
          "pair": {
            "type": "string",
            "example": "NGN_USDT"
          },
          "rate": {
            "type": "number",
            "format": "float",
            "example": 1540.25
          },
          "availableBalance": {
            "type": "number",
            "format": "float",
            "example": 2000
          },
          "negotiationLimit:": {
            "type": "number",
            "format": "float",
            "example": 1000
          },
          "poolAccountId:": {
            "type": "string",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "poolType:": {
            "type": "string",
            "example": "funded or unfunded"
          }
              },
              "required": [
          "id",
          "clientId",
          "name",
          "pair",
          "rate",
          "availableBalance",
          "negotiationLimit",
          "poolAccountId",
          "poolType"
        ]
      },

"PayoutRequest": {
        "type": "object",
        "required": ["reference", "chain", "asset", "amount", "toAddress"],
        "properties": {
          "reference": {
            "type": "string",
            "description": "Unique idempotency reference for this withdrawal. Used to prevent duplicate withdrawals.",
            "example": "wallet-payout-001",
            "minLength": 1,
            "maxLength": 100
          },
          "chain": {
            "type": "string",
            "description": "Blockchain network for the withdrawal",
            "example": "ethereum",
            "enum": ["ethereum", "polygon", "base", "arbitrum", "optimism"]
          },
          "asset": {
            "type": "string",
            "description": "Token/asset to withdraw",
            "example": "usdc",
            "enum": ["usdc", "usdt"]
          },
          "amount": {
            "type": "number",
            "description": "Amount to withdraw (in token units, not subunits). Minimum: 10",
            "example": 100,
            "minimum": 10
          },
          "toAddress": {
            "type": "string",
            "description": "Destination blockchain address (must be valid EVM address)",
            "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0beB0",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "memo": {
            "type": "string",
            "description": "Optional memo/note for the withdrawal",
            "example": "Payment to supplier",
            "maxLength": 255
          }
        }
      },
"PayoutResponse": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Unique reference provided in the request",
            "example": "wallet-payout-001"
          },
          "withdrawalId": {
            "type": "string",
            "format": "uuid",
            "description": "System-generated withdrawal identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "walletId": {
            "type": "string",
            "format": "uuid",
            "description": "Partner wallet identifier",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "chain": {
            "type": "string",
            "description": "Blockchain network",
            "example": "ethereum",
            "enum": ["ethereum", "polygon", "base", "arbitrum", "optimism"]
          },
          "token": {
            "type": "string",
            "description": "Token being withdrawn",
            "example": "usdc",
            "enum": ["usdc", "usdt"]
          },
          "amount": {
            "type": "number",
            "description": "Withdrawal amount",
            "example": 100
          },
          "estimatedFee": {
            "type": "number",
            "description": "Estimated gas fee in token units",
            "example": 2.5
          },
          "toAddress": {
            "type": "string",
            "description": "Destination address",
            "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0beB0"
          },
          "status": {
            "type": "string",
            "description": "Withdrawal status",
            "enum": ["PENDING", "PROCESSING", "COMPLETED", "FAILED", "CANCELLED"],
            "example": "PENDING"
          },
          "transactionHash": {
            "type": "string",
            "description": "Blockchain transaction hash (null until broadcast)",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Withdrawal creation timestamp",
            "example": "2026-04-24T10:30:00Z"
          },
          "estimatedCompletionAt": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated completion time",
            "example": "2026-04-24T10:35:00Z"
          }
        }
      },
"BankWithdrawalRequest":{
  "type": "object",
        "required": ["reference", "amount", "currency", "destination"],
        "properties": {
          "reference": {
            "type": "string",
            "description": "Unique idempotency reference for this payout. Used to prevent duplicate transfers.",
            "example": "payout-001",
            "minLength": 1,
            "maxLength": 100
          },
          "amount": {
            "type": "integer",
            "description": "Amount to transfer in subunits (kobo for NGN, pesewas for GHS). Minimum: 100",
            "example": 10000,
            "minimum": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transfer",
            "example": "NGN",
            "enum": ["NGN", "GHS"]
          },
          "destination": {
            "$ref": "#/components/schemas/BankDestination"
          },
          "narration": {
            "type": "string",
            "description": "Transfer description/narration (appears on bank statement)",
            "example": "Vendor payout April",
            "maxLength": 100
          },
          "saveRecipient": {
            "type": "boolean",
            "description": "Save recipient details for future use",
            "example": false,
            "default": false
          },
          "recipientAlias": {
            "type": "string",
            "description": "Friendly name for saved recipient (required if saveRecipient is true)",
            "example": "Jane - Vendor",
            "maxLength": 50
          }
        }
      },
      "BankDestination": {
        "type": "object",
        "required": ["accountNumber", "accountName", "bankCode"],
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Recipient bank account number (10 digits for Nigerian banks)",
            "example": "0123456789",
            "pattern": "^[0-9]{10}$"
          },
[...]
